<html>
    <head>
        <link rel="stylesheet" href="/static/index.css">
    </head>

    <h3>
    DevHub Page
    </h3>

    <h5>
        This a web app based on django<br>urls:
    </h5>

    <h6 id="account">
        /account
    </h6>
    <a href="http://127.0.0.1:8000/account">Go to Account index</a>

    <h6 id="account">
            /account/login
        </h6>
        <a href="http://127.0.0.1:8000/account/login">Go to Login</a>

    <h6 id="account">
        /account/register/
    </h6>
    <a href="http://127.0.0.1:8000/account/register">Go to register</a>

  
</html>
